body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #00008B; /* Цвет фона веб-страницы */
    color: #FFD700; /* Цвет основного текста */ 
}
h1 {
    color: #00a800; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h3 {
    color: #CD5C5C;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}
p {
    color:aqua;
    font-size:small;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}
